* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #023047;
}

.main-content {
    background-color: #023047;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: 20px;
    padding: 10px;
    background-color: blueviolet;
    border: 1px solid;
    border-radius: 0 0 20pc 20pc;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: white;
    margin: 20px 200px;
    padding: 10px;
    font-size: 30px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 0 0 20pc 20pc;
}

.personal-info {
    text-align: center;
    font-size: 28px;
    color: white;
}

.profile-img {
    margin: 20px 25px;
    border-radius: 0 20px 0 20;
    width: 130px;
    border: 5px solid blueviolet;
    box-shadow: -10px 10px 10px;
    border-radius: 0 20px;

}

ul {
    background-color: #e9c46a;
    margin: 20px;
    padding: 10px;
    color: white;

}

#ul-container {
    background-color: #b45037;
    padding: 10px;
}

.info {
    font-size: 20px;
    color: #023047;
    list-style-position: inside;
}