* {
    margin: 0;
    box-sizing: border-box;
}

.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: black;
    color: aliceblue;
    padding: 50px;
    text-align: center;
}

