.product-card-container {
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 5px;
  }

  button {
    width: 80%;
    padding: 15px;
    opacity: 0.7;
    position: absolute;
    top: 230px;
    left: 35px;
    display: none;
  }

  .bulk-span {
    background-color: rgb(86, 40, 165);
    color: white;
    padding: 5px;
    margin-top: 5px;
    align-self: flex-end;
    position: absolute;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      opacity: 0.85;
      display: flex;
    }
  }

  .card-footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
  }
}

@media (max-width: 1600px) {
  .product-card-container {
    button {
      display: flex;
      width: 50%;
      opacity: 1;
      position: initial;
    }
    .card-footer {
      height: 50%;
    }
  }
}

@media (max-width: 500px) {
  .product-card-container {
    width: 280px;
    height: 280px;

    .card-footer {
      font-size: 12px;
    }
  }
}

@media (max-width: 350px) {
  .product-card-container {
    width: 150px;
    height: 150px;
    .card-footer {
      flex-direction: column;
      button {
        padding: 5px;
        width: 100%;
      }
    }
  }
}
