html{
    scroll-behavior: smooth;
}

@media (max-width:780px) {
    .items-div {
        display: none;
    }

    #bars-icon {
        display: flex;
    }

   
}

@media (min-width:781px) {
.dropDown-menu {
    visibility: hidden;
}
}