.dropDown-menu {
display: none;
}

/* .drop--hidden {
    transform: translateY(-104px);
} */

.dropDown-visible {
    background-color: rgb(255, 255, 255, 0.1);
    position: fixed;
    transform: translateY(104px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 10px 0 10px 0;
    position: absolute;
    transition: 0.4s;
}