* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    background-image: url(../assets/IMG_1422.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 700px;
}