.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFB930;
    text-align: center;
}

p {
    color: #35515C;
    font-size: 30px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 700px;
    padding: 60px;
}