* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid rgb(123, 252, 121);
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // padding: 20px 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
