.authentication-container {
  display: flex;
  align-items: center;
  height: 100dvh;
}

@media (max-width: 1000px) {
  .authentication-container {
    flex-direction: column;
    margin: 80px auto;
  }
}
