.directory-section {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .directory-h2 {
    margin: 20px auto;
    font-size: 30px;
    text-align: center;
  }

  .directory-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .wavy-separator {
      max-height: 200px;
      max-width: 1250px;
    }
  }
}

@media (max-width: 1200px) {
  .directory-section {
    .directory-container {
      width: 90%;
    }
  }
}
