.menu-dropdown-container {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100vh - 80px);
  transform: translateX(-1930px);
  transition: all 0.4s ease-in-out;
}

.menu-dropdown-container-open {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100vh - 80px);
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}

.menu-links-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  gap: 50px;
  list-style: none;
  background-color: rgb(255, 255, 255);
}

.menu-link {
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid;
  color: rgb(0, 0, 0);
}

@media (min-width: 630px) {
  .menu-dropdown-container-open {
    display: none;
  }
}
