$sub-color: grey;
$main-color: black;

.contact-form-container {
  margin-top: 80px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    rgba(52, 52, 52, 0.089),
    rgba(16, 16, 16, 0.4)
  ), url(../../../public/fondo-contact.jpg);
  

  .form-title {
    font-size: 50px;
    text-align: center;
  }

  .contact-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    margin-bottom: 60px;
    background-color: white;
    border-radius: 20px;
    button {
      padding: 15px;
    }
  }

  #message {
    background: none;
    background-color: white;

    padding: 10px;
    width: 100%;
    outline: none;
  }
}

@media (max-width: 900px) {
  .contact-form-container {
    .form-title {
      font-size: 30px;
    }

    .contact-form {
      width: 90%;
    }
  }
}
